<h1>Edit User Information</h1>

<main class="edit-user" role="main">
  <form method="post" action="/users/<%= user.id %>">
    <label for="user_username_input">Username:</label>
    <input id="user_username_input" name="user[username]" type="text" value="<%= @user.try(:username) %>">

    <label for="user_password_input">Password:</label>
    <input id="user_password_input"  name="user[password]" type="text" value="<%= @user.try(:password_hash) %>">

    <input type="submit" value="Update" class="button">
  </form>
</main>