<div class="form">
  <h1>Login to your Flashcard Account</h1>
  <br>

  <form action="/login" method="post">
    <label for="username">Username:</label><br>
    <input type="text" name="username" />
    <br>

    <label for="password_hash">Password:</label><br>
    <input type="password" name="password_hash" />
    <br><br>

    <button id="login" type="submit" value="Submit">Login</button>
  </form>
</div>
