<table style="width:100%">
  <tr>
    <th>Date</th>
    <th>Cards in Deck</th> 
    <th>First Guess Correct</th>
    <th>Total Guesses</th>
  </tr>

  <!-- Round.each do |round| -->
  <tr>
    <td><!-- round.date --></td>
    <!-- round.cards -->
    <!-- round.guess_correct -->
    <!-- round.total_guess -->
  </tr>


  <tr>
    <td>Eve</td>
    <td>Jackson</td> 
    <td>94</td>
  </tr>
</table>
