<h2><%= current_round.deck.name %></h2>

<h4><%= @guess.card.question %></h4>
<h4>Correct answer: <%= @guess.card.answer %></h4>
<% if @guess.correct == true %>
  <h3>Correct!</h3>
<% else %>
  <h3>Incorrect.</h3>
<% end %>

<a href="/cards/<%= @next_card_id %>">Next Card</a>
