<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">

  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Flashcard App</title>
</head>
<body>
  <header role="banner">
    <div>
      <nav>
        <ul>
          <li><a href="/users/new">Register</a></li>     |
          <% if current_user %>
          <li><a href="/login">Login</a></li>     |
          <% else %>
          <li><a href="/logout">Logout</a></li>
          <% end %>
          <li><a href="/">Home</a></li>
        </ul>
      </nav>

      <div class="logo-container">
        <img class="logo" src="/images/logo.png" class="center block">
      </div>
    </div>
  </header>
  <%= yield %>
</body>
</html>
